<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<app-sidebar></app-sidebar>
<!--  Main wrapper -->
<div class="body-wrapper">
  <!--Header-->
<app-header></app-header>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title fw-semibold mb-4">Ordenes</h5>
                <p class="mb-0">Lista de ordenes registradas.</p>
            </div>
            <div>
                <a routerLink="/agregar-orden" class="btn btn-primary me-2 d-flex">
                    <i class="bi bi-plus-circle"></i>
                    <span class="d-none d-md-block" style="margin-left: 10px;">Agregar Orden</span> <span class="d-block d-md-none">Pro</span>
                </a>
            </div>
        </div>
        <hr/>
        <div class="table-responsive">
          <table class="table text-nowrap align-middle mb-0">
            <thead>
              <tr class="border-2 border-bottom border-primary border-0"> 
                <th scope="col" class="ps-0">N° Mesa</th>
                <th scope="col">Cliente</th>
                <th scope="col" class="text-center">Mesero</th>
                <th scope="col" class="text-center">Platillos</th>
                <th scope="col" class="text-center">Total (S/)</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <!-- Suponiendo que tienes una variable llamada "ordenes" que contiene los datos -->
              <tr *ngFor="let orden of ordenes">
                <th scope="row" class="ps-0 fw-medium">
                  <span class="table-link1 text-truncate d-block">{{ orden.mesaId.numero }}</span>
                </th>
                <td>
                  <span class="fw-medium d-block">{{ orden.clienteId.nombre }}</span>
                </td>
                <td class="text-center fw-medium">
                  <span>{{ orden.meseroId.nombre }}</span>
                </td>
                <td class="text-center fw-medium">
                  <span [innerHTML]="getPlatillos(orden.platillos)"></span>
                </td>
                <td class="text-center fw-medium">
                  <span>S/ {{ calcularTotal(orden).toFixed(2)}}</span>
                </td>
                <td class="text-center fw-medium" style="text-transform: capitalize;">
                  <span>{{ orden.estado }}</span>
                </td>
                <td class="text-center">
                  <div class="d-flex flex-column">
                    <button class="btn btn-secondary mb-2" routerLink="/editar-orden/{{orden._id}}">
                      Editar
                    </button>
                    <button class="btn btn-danger" (click)="deleteOrden(orden._id)">
                    Eliminar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          
          </div>
      </div>
    </div>
</div>
<!--Start Footer-->
<app-footer></app-footer>
<!--End Footer-->

</div>
</div>
<script src="../../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../../../assets/js/sidebarmenu.js"></script>
<script src="../../../assets/js/app.min.js"></script>
<!-- <script src="../../../assets/js/dashboard.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>