<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<app-sidebar></app-sidebar>
<!--  Main wrapper -->
<div class="body-wrapper">
  <!--Header-->
<app-header></app-header>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title fw-semibold mb-4">Meseros</h5>
                <p class="mb-0">Meseros registrados actualmente.</p>
            </div>
            <div>
                <a routerLink="/agregar-mesero" class="btn btn-primary me-2 d-flex">
                    <i class="bi bi-plus-circle"></i>
                    <span class="d-none d-md-block" style="margin-left: 10px;">Agregar Mesero</span> <span class="d-block d-md-none">Pro</span>
                </a>
            </div>
        </div>
        <hr/>
        <div class="table-responsive">
          <table class="table text-nowrap align-middle mb-0">
            <thead>
              <tr class="border-2 border-bottom border-primary border-0">
                <th scope="col" class="ps-0">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Usuario</th>
                <th scope="col" class="text-center">Activo</th>
                <th scope="col" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let mesero of meseros">
                <th scope="row" class="ps-0 fw-medium">
                  <span class="table-link1 text-truncate d-block">{{ mesero.nombre }}</span>
                </th>
                <td>
                  <span class="text-truncate d-block">{{ mesero.correo }}</span>
                </td>
                <td>
                  <span class="text-truncate d-block">{{ mesero.telefono }}</span>
                </td>
                <td>
                  <span class="text-truncate d-block">{{ mesero.usuario }}</span>
                </td>
                <td class="text-center fw-medium">
                  <span class="badge" [ngClass]="mesero.activo ? 'bg-success' : 'bg-warning'">
                    {{ mesero.activo ? 'Activo' : 'Inactivo' }}
                  </span>
                </td>
                <td class="text-center">
                  <div class="d-flex flex-column">
                    <button class="btn btn-secondary mb-2" routerLink="/editar-mesero/{{mesero._id}}">
                      Editar
                    </button>
                    <button class="btn btn-danger" (click)="deleteMesero(mesero._id)">
                    Eliminar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          
          </div>
      </div>
    </div>
</div>
<!--Start Footer-->
<app-footer></app-footer>
<!--End Footer-->

</div>
</div>
<script src="../../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../../../assets/js/sidebarmenu.js"></script>
<script src="../../../assets/js/app.min.js"></script>
<!-- <script src="../../../assets/js/dashboard.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>