<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<app-sidebar></app-sidebar>
<!--  Main wrapper -->
<div class="body-wrapper">
  <!--Header-->
  <app-header></app-header>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title fw-semibold mb-4">Editar Cliente</h5>
                <p class="mb-0">Edite al cliente con el formulario.</p>
            </div>
            <div>
                <a routerLink="/clientes" class="btn btn-primary me-2 d-flex">
                    <i class="bi bi-chevron-left"></i>
                    <span class="d-none d-md-block" style="margin-left: 10px;">Volver a Clientes</span> <span class="d-block d-md-none">Pro</span>
                </a>
            </div>
        </div>
        <hr/>
        <form (ngSubmit)="actualizarCliente()" #clienteForm="ngForm">
            <!-- Campo Nombre -->
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input 
                type="text" 
                class="form-control" 
                id="nombre" 
                name="nombre" 
                [(ngModel)]="cliente.nombre"
                placeholder="Ingresa el nombre completo" 
                required
              >
            </div>
          
            <!-- Campo Correo -->
            <div class="mb-3">
              <label for="correo" class="form-label">Correo Electrónico</label>
              <input 
                type="email" 
                class="form-control" 
                id="correo" 
                name="correo" 
                [(ngModel)]="cliente.correo"
                placeholder="Ingresa el correo electrónico" 
                required
              >
            </div>
          
            <!-- Campo Teléfono -->
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input 
                type="text" 
                class="form-control" 
                id="telefono" 
                name="telefono" 
                [(ngModel)]="cliente.telefono"
                placeholder="Ingresa el número de teléfono" 
                required
              >
            </div>
          
            <!-- Campo DNI -->
            <div class="mb-3">
              <label for="dni" class="form-label">DNI</label>
              <input 
                type="text" 
                class="form-control" 
                id="dni" 
                name="dni" 
                [(ngModel)]="cliente.dni"
                placeholder="Ingresa el número de DNI" 
                required
              >
            </div>
          
            <!-- Botones -->
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </form>
          
      </div>
    </div>
</div>
<!--Start Footer-->
<app-footer></app-footer>
<!--End Footer-->

</div>
</div>
<script src="../../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../../../assets/js/sidebarmenu.js"></script>
<script src="../../../assets/js/app.min.js"></script>
<!-- <script src="../../../assets/js/dashboard.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>