<aside class="left-sidebar">
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img">
        <img src="../assets/images/logos/logo-light.svg" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="bi bi-x fs-8"></i> <!-- Icono de cerrar -->
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <span class="hide-menu">Inicio</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/intranet" aria-expanded="false">
            <span>
              <i class="bi bi-house-door fs-6"></i> <!-- Icono de casa -->
            </span>
            <span class="hide-menu">Intranet</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <span class="hide-menu">RESTAURANTE</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/platillos" aria-expanded="false">
            <span>
              <i class="bi bi-fan fs-6"></i>
            </span>
            <span class="hide-menu">Platillos</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/clientes" aria-expanded="false">
            <span>
              <i class="bi bi-emoji-smile fs-6"></i>
            </span>
            <span class="hide-menu">Clientes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/ordenes" aria-expanded="false">
            <span>
              <i class="bi bi-bell fs-6"></i>
            </span>
            <span class="hide-menu">Órdenes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/categorias" aria-expanded="false">
            <span>
              <i class="bi bi-file-earmark-text fs-6"></i> <!-- Icono de formulario -->
            </span>
            <span class="hide-menu">Categorías</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/meseros" aria-expanded="false">
            <span>
              <i class="bi bi-person-lines-fill fs-6"></i>
            </span>
            <span class="hide-menu">Meseros</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/vista-chat" aria-expanded="false">
            <span>
              <i class="bi bi-chat-dots fs-6"></i>
            </span>
            <span class="hide-menu">Chat</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <span class="hide-menu">USUARIO</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
            <span>
              <i class="bi bi-box-arrow-left fs-6"></i>
            </span>
            <span class="hide-menu">Salir</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
</aside>
