<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<app-sidebar></app-sidebar>
<!--  Main wrapper -->
<div class="body-wrapper">
  <!--Header-->
  <app-header></app-header>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title fw-semibold mb-4">Editar Platillo</h5>
                <p class="mb-0">Actualice el platillo con el formulario.</p>
            </div>
            <div>
                <a routerLink="/platillos" class="btn btn-primary me-2 d-flex">
                    <i class="bi bi-chevron-left"></i>
                    <span class="d-none d-md-block" style="margin-left: 10px;">Volver a Platillos</span> <span class="d-block d-md-none">Pro</span>
                </a>
            </div>
        </div>
        <hr/>
        <form id="platilloForm" (ngSubmit)="guardarCambios()" enctype="multipart/form-data">
            <!-- Campo Nombre -->
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre del Platillo</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                [(ngModel)]="platilloData.nombre"
                placeholder="Ingresa el nombre del platillo"
                required
              />
            </div>
          
            <!-- Campo Ingredientes -->
            <div class="mb-3">
              <label for="ingredientes" class="form-label">Ingredientes</label>
              <textarea
                class="form-control"
                id="ingredientes"
                name="ingredientes"
                [(ngModel)]="platilloData.ingredientes"
                rows="3"
                placeholder="Ingresa los ingredientes, separados por comas"
                required
              ></textarea>
            </div>
          
            <!-- Campo Precio -->
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input
                type="number"
                class="form-control"
                id="precio"
                name="precio"
                [(ngModel)]="platilloData.precio"
                placeholder="Ingresa el precio del platillo"
                step="0.01"
                required
              />
            </div>
          
            <!-- Campo Imágenes (URLs) -->
            <div class="mb-3">
              <label for="imagenes" class="form-label">Imágenes (URLs)</label>
              <textarea
                class="form-control"
                id="imagenes"
                name="imagenes"
                [(ngModel)]="imagenesString"
                rows="5"
                placeholder="Ingresa las URLs de las imágenes, una por línea"
                (ngModelChange)="updateImageLinks()"
                required
              ></textarea>
              <small class="form-text text-muted">Ingresa una URL por línea.</small>
            </div>
          
            <div *ngIf="platilloData.imagenes.length > 0" class="mb-3">
              <h5>Previsualización de Imágenes:</h5>
              <div class="image-previews d-flex">
                <div *ngFor="let imagen of platilloData.imagenes" class="image-preview">
                  <img [src]="imagen" alt="Imagen del Platillo" width="100" height="100" style="object-fit: cover; margin-right: 10px; border-radius: 10px;"/>
                </div>
              </div>
            </div>
          
            <!-- Campo Categoría -->
            <div class="mb-3">
              <label for="categoriaId" class="form-label">Categoría</label>
              <select
                class="form-select"
                id="categoriaId"
                name="categoriaId"
                [(ngModel)]="platilloData.categoriaId._id"
                required
              >
                <option value="" selected disabled>Selecciona una categoría</option>
                <option *ngFor="let categoria of categorias" [value]="categoria._id">
                  {{ categoria.nombre }}
                </option>
              </select>
            </div>
          
            <!-- Botones -->
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </form>
          
                
        
      </div>
    </div>
</div>
<!--Start Footer-->
<app-footer></app-footer>
<!--End Footer-->

</div>
</div>
<script src="../../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../../../assets/js/sidebarmenu.js"></script>
<script src="../../../assets/js/app.min.js"></script>
<!-- <script src="../../../assets/js/dashboard.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>