<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<app-sidebar></app-sidebar>
<!--  Main wrapper -->
<div class="body-wrapper">
  <!--Header-->
<app-header></app-header>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title fw-semibold mb-4">Nuevo Mesero</h5>
                <p class="mb-0">Complete el formulario para crear una nuevo mesero.</p>
            </div>
            <div>
                <a routerLink="/meseros" class="btn btn-primary me-2 d-flex">
                    <i class="bi bi-chevron-left"></i>
                    <span class="d-none d-md-block" style="margin-left: 10px;">Volver a Meseros</span> <span class="d-block d-md-none">Pro</span>
                </a>
            </div>
        </div>
        <hr/>
        <form id="meseroForm" (ngSubmit)="updateMesero()">

          <!-- Campo Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input 
              type="text" 
              class="form-control" 
              id="nombre" 
              [(ngModel)]="mesero.nombre" 
              name="nombre" 
              placeholder="Ingresa el nombre completo" 
              required
            >
          </div>
        
          <!-- Campo Correo -->
          <div class="mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input 
              type="email" 
              class="form-control" 
              id="correo" 
              [(ngModel)]="mesero.correo" 
              name="correo" 
              placeholder="Ingresa el correo electrónico" 
              required
            >
          </div>
        
          <!-- Campo Teléfono -->
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input 
              type="text" 
              class="form-control" 
              id="telefono" 
              [(ngModel)]="mesero.telefono" 
              name="telefono" 
              placeholder="Ingresa el número de teléfono" 
              required
            >
          </div>
        
          <!-- Campo Usuario -->
          <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input 
              type="text" 
              class="form-control" 
              id="usuario" 
              [(ngModel)]="mesero.usuario" 
              name="usuario" 
              placeholder="Ingresa el nombre de usuario" 
              required
            >
          </div>
        
          <!-- Checkbox Actualizar Contraseña -->
          <div class="form-check mb-3">
            <input 
              type="checkbox" 
              class="form-check-input" 
              id="actualizarPassword" 
              [(ngModel)]="actualizarPassword" 
              name="actualizarPassword"
            >
            <label for="actualizarPassword" class="form-check-label">
              ¿Actualizar Contraseña?
            </label>
          </div>

          <!-- Campo Contraseña (solo si el checkbox está marcado) -->
          <div class="mb-3" *ngIf="actualizarPassword">
            <label for="password" class="form-label">Nueva Contraseña</label>
            <div class="input-group">
              <input 
                [type]="passwordVisible ? 'text' : 'password'" 
                class="form-control" 
                id="password" 
                [(ngModel)]="mesero.password" 
                name="password" 
                placeholder="Ingresa la nueva contraseña"
              >
              <button 
                type="button" 
                class="btn btn-outline-secondary" 
                (click)="togglePasswordVisibility()">
                <i [class]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
              </button>
            </div>
          </div>

        
          <!-- Campo Activo -->
          <div class="form-check mb-3">
            <input 
              type="checkbox" 
              class="form-check-input" 
              id="activo" 
              [(ngModel)]="mesero.activo" 
              name="activo" 
              [checked]="mesero.activo"
            >
            <label for="activo" class="form-check-label">Activo</label>
          </div>
        
          <!-- Botones -->
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
        
          
      </div>
    </div>
</div>
<!--Start Footer-->
<app-footer></app-footer>
<!--End Footer-->

</div>
</div>
<script src="../../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../../../assets/js/sidebarmenu.js"></script>
<script src="../../../assets/js/app.min.js"></script>
<!-- <script src="../../../assets/js/dashboard.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>